/* Space out content a bit */


/* Everything but the jumbotron gets side spacing for mobile first views */
body {
  background-color: #003c9d;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.footer-banner {
  height: 100px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.brand-container {
  width: 1050px;
  height: 450px;
  border-radius: 5px;
}

.brand-images {
  width: 800px;
  height: 350px;
}

.brand-carousel {
  height: 350px;
}

.brand-title {
  width: 100%;
  height: 60px;
  background-color: #eee;
}

.bk-img {
  height:100%;
  filter:alpha(Opacity=30);
  -moz-opacity:0.3;
  opacity: 0.3;
}

.navbar-title {
  background-color: #333;
  border-radius: 5px;
}

.hot-recom {
  width: 100%;
  height: 40px;
  padding:1px;
  border-radius: 3px;
  color: #666;
}

.hot-item {
  width: 30%;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 4px;
  float: left;
}

.hot-item:hover {
  cursor: pointer;
}

.hot-item > div.panel-heading{
  color: #666;
  border-radius: 5px;
}

.group-list-title-black {
  background-color: #222;
  color: white;
}

img.product-img {
  width: 180px;
  height: 180px;
}

div.supplies-item {
  text-align: center;
}

.comm-about {
  margin: 20px 50px;
  text-align: center;
}

.art-container {
  margin-top: 30px;
}

.list-head {
  border-radius: 5px;
  background-color: #999;
  color: white;
}

.intro-content {
  text-align: left;
}

.hide-block {
  display: none;
}

.country-content {
  text-align: left;
}

.country-desc {
  margin: 5px;
}

.hot-display {
  margin: 8px 0px;
}

.c-flag {
  width: 120px;
  float: left;
  height: 90px;
}

.active-header:hover {
  font-size: 50px;
}

.nav-self {
  font-size: 16px;
  font-weight: bold;
}

.nav-family {
  color: #aaa;
}

.nav-family:hover {
  color: #333;
  font-size: 18px;
}

.flag-brand {
  margin: 5px 10px;
  float: left;
  color: #999;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.picture-slide {
 border-radius: 20px;
}

.slide-pic {
  width: 1050px;
  height: 450px;
  background-color: red;
}

.top-free-20 {
  margin-top: 20px;
}

.top-free-50 {
  margin-top: 50px;
}

.side-margin-80 {
  margin-left: 80px;
  margin-right: 80px;
}

div.side-padding-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.back-wall {
  position: relative;
  margin-bottom:50px;
  top:50px;
  left: 80px;
  padding: 10px 20px;
  width: 1120px;
  min-height: 580px;
  background-color: #eee;
  border-radius: 5px;
}

.yo-background {
  background-color: #007799;
}

.pic-circle {
  width: 100%;
  height: 300px;
  background-color: #aaa;
  border-radius: 5px;
  background-color: #ccc;
}

.contact-container {
  width:900px;
  margin-top:50px;
}

.index-nav {
  width: 950px;
}

.top-free-30 {
  margin-top:30px;
}

.foot {
  position: relative;
  display: block;
  background-color: #eee;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  text-align: center;
  bottom: 5px;
}

.nor-display {
  float: left;
  width: 300px;
  height: 172px;
  margin: 10px;
}

.text-center {
  text-align: center;
}

.country-selector {
  font-weight: bold;
}

.p-b-img {
  width: 90px;
  height: 90px;
}

.p-b-icon {
  float: left;
  margin: 5px;
  color: #666;
}

.prod-tiny-flag {
  text-align: left;
}

.main-brand {
  display: inline;
  margin: 10px;
}

.circle-brand {
  width: 200px;
  height: 200px;
  padding: 3px;
  background-color: #999;
  margin: 20px 20px;
}

.circle-brand:hover {
  width: 220px;
  height: 220px;
  padding: 5px;
  background-color: #000;
}

.brand-item {
  position: relative;
  float: left;
  color: #999;
  font-weight: bold;
  font-size: 16px;
}

.brand-item:hover {
  color: #666;

}

.brand-well {
  position: relative;
  min-height: 320px;
}

.search-box {
  float: left;
  width: 300px;
  margin: 5px 0;
}

.main-products {
  margin: 10px;
}

.main-products {
  max-width: 1000px;
}

.content-center {
  min-height: 300px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.blank-banner {
  width: 100%;
  height: 60px;
}

.tip-panel-wrapper {
  margin: 40px 100px;
}

.countries-detail {
  margin: 5px 3px;
}

.countries-wrap {
  text-align: center;
}

.county-desc {
  text-align: left;
}

.country-item:hover {
  cursor: pointer;
}

.product-list {
  background-color: #aaa;
  color: #fff;
  font-weight: bold;
}

.product-list:hover {
  background-color: #ddd;
  color: #999;
}

.flag-wall {
  position: relative;
}

.flag-nap {
  position: relative;
  margin: 10px;
  text-align: center;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



