<div class="contact-container">
  <div class="well contact-wall" ng-controller="ContactCtrl">
    <h2 class="page-header">酉康名片墙</h2>
    <ul class="list-group contact-block" ng-repeat="contact in contacts">
      <li class="list-group-item" >
          联系人：<em>{{contact.name}}</em>
      </li>
      <li class="list-group-item" >
          职务：<em>{{contact.position}}</em>
      </li>
      <li class="list-group-item" >
          联系电话：<em>{{contact.phone}}</em>
      </li>
      <li class="list-group-item" >
          联系邮箱：<em>{{contact.email}}</em>
      </li>
    </ul>
    <div style="clear: both"></div>
  </div>
  <div style="clear: both"></div>
</div>
