<!--<div class="row top-free-20" style="text-align:center;">-->
  <div class="" ng-controller="MainCtrl">
    <div class="well text-center brand-well" >
      <div class="container main-brand" >
        <a class="brand-item text-center" ng-click="productLine(cata)" ng-repeat="cata in catas">
          <img class="img-circle circle-brand" alt="200*200" src="/images/{{cata.images}}">
          <p>{{cata.name}}</p>
        </a>
        <div class="search-box">
          <input type="text">
          <button class="btn btn-sm btn-default">查找产品</button>
        </div>
      </div>
      <div class="container main-products">
        <div class="hide-block" id="m-p-line">
          <a class="p-b-icon text-center" ng-repeat="cataProd in cataProds">
            <img class="img-thumbnail p-b-img" src="{{cataProd.imagePath}}">
            <br>
            <span>{{cataProd.name}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
</script>
