<div class="row" ng-controller="ProductsCtrl">
  <div class="wrap">
    <div class="cata-nav">
      <div class="well left-block full-nav"  style="text-align:center;">
        <ul class="horizal-nav" id="country-nav">
          <li class="h-n-itm" ng-click="choseCountry(country)" id="h-n-{{country._id}}" ng-repeat="country in countries">
            <img class="tiny-flag" src="{{country.imagePath}}{{country.image}}">{{country.name}}
          </li>
        </ul>
        <ul class="horizal-nav" id="cata-nav">
          <li class="h-n-itm" ng-click="choseCata(cata)"  id="h-n-{{cata._id}}" ng-repeat="cata in catas">
            <img class="img-circle p-flag" src="{{cata.imagePath}}{{cata.image}}">{{cata.name}}
          </li>
        </ul>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="container product-info" id="product-list">
      <div class="wrap product-line" id="cata-{{cata._id}}" ng-repeat="cata in catas">
        <ul class="u-line">
          <li class='u-l-itm left-block' ng-click="choseProduct(product)" id="d-{{product._id}}" ng-repeat="product in cataProducts[cata._id]">
            <img class="img-thumbnail p-b-img" src="{{product.imagePath}}{{product.image}}">
            <p>{{product.name}}</p>
          </li>
          <div style="clear:both"></div>
        </ul>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="product-info left-block hide-block" id="supply-info">
      <div class="well">
        <div class="wrap row">
          <div class="col-sm-3">
            <a class="m-back">-</a>
            <img class="img-thumbnail product-img" id="s-prod-img" src="{{cuProd.imagePath}}{{cuProd.image}}">
          </div>
          <div class="col-sm-9">
            <h4 class="page-header">{{cuProd.name}}</h4>
            <p>{{cuProd.desc}}</p>
          </div>
        </div>
      </div>
      <div class="wrap">
        <ul>
          <li class="supply-list-itm" ng-repeat="supply in cuSupplyList">
            <div class="row">
              <div class="col-sm-5">
                <img class="img-thumbnail supply-img" src="/images/supply/{{supply._id}}.jpg">
              </div>
              <div class="col-sm-7">
                <div class="supply-content">
                  <strong>{{supply.name}}</strong>
                  <hr>
                  <strong>产品名称：{{supply.name}}</strong><br />
                  <strong>原麦汁浓度：{{supply.wort_dense}}</strong><br />
                  <strong>酒精浓度：{{supply.alcohol_dense}}</strong><br />
                  <strong>规格：{{supply.specification}}</strong><br />
                  <strong>保质期：{{supply.sell_by_date}}</strong><br />
                  <strong>箱尺寸：{{supply.box_size}}</strong>
              </div>
              </div>
            </div>
          </li>
        </ul>
        <div style="clear:both"></div>
      </div>
      <div style="clear:both"></div>
    </div>
  </div>
</div>
